<div class="container">
  <label for="youtube">Url: </label>
  <input type="text" name="youtube" value="" style="width:80%" id="url">
  <input type="submit" value="GET" onclick="getData()">
</div>
<ol id="link" hidden></ol>